html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: 2px 2px 4px #000000;
}

#quotebox {
	opacity: 1;
	display: block;
	font-size: 40px;
	position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
}

#temperaturebox {
	opacity: 1;
	display: block;
	position: absolute;
        top: 8px;
        right: 16px;
        font-size: 25px;
        word-wrap: break-word;
        width: 300px;
        text-align: right;
}

#time {
	opacity: 1;
	display: block;
	font-size: 150px;
	position: absolute;
        left: 0;
	top: 40%;
	width: 100%;
	text-align: center;

}

#imagetitle {
	opacity: 1;
	font-size: 10px;
	text-shadow: none;
}